body{
    margin: 0;
    font-family: arial, sans-serif;
}

.navbar-container{
    width: 100%;
    height: 10vh;
    background-color: #000;
}

.navbar-container{
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar-container ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
}

.navbar-container ul li{
    margin: 2vh;
}

.navbar-container ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 2vh;
}



.input-field-container {
    display: flex;
}



table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}